USE [School_ERP]
GO
/****** Object:  StoredProcedure [dbo].[usp_get_LoginDetails]    Script Date: 19-04-2025 16:59:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[usp_get_LoginDetails]
@JsonInput NVARCHAR(MAX) = '{"Userid":"Super_Admin","PasswordHash":"Holashakir@786"}'
AS
BEGIN
    SET NOCOUNT ON;

    -- Declare variables to hold extracted values
    DECLARE @UserID VARCHAR(50);
    DECLARE @Password VARCHAR(100);
    DECLARE @StoredHash VARCHAR(255);
	DECLARE @Username VARCHAR(100);
    DECLARE @ID INT;
	DECLARE @RoleID INT;
    DECLARE @IsActive BIT;

    -- Extract values from JSON
    BEGIN TRY
        SELECT 
            @UserID = JSON_VALUE(@JsonInput, '$.Userid'),
            @Password = JSON_VALUE(@JsonInput, '$.PasswordHash');

        -- Validations
        IF (@UserID IS NULL OR @UserID = '')
        BEGIN
            RAISERROR('UserID is required.', 16, 1);
            RETURN;
        END

        IF (@Password IS NULL OR @Password = '')
        BEGIN
            RAISERROR('Password is required.', 16, 1);
            RETURN;
        END

        -- Check user exists
        SELECT 
            @StoredHash = PasswordHash,
            @UserID = UserID,
			@ID = ID,
			@Username = Username,
			@RoleID = RoleID,
            @IsActive = IsActive
        FROM M_User
        WHERE UserID = @UserID;

        IF (@StoredHash IS NULL)
        BEGIN
            RAISERROR('Invalid UserID or Password.', 16, 1);
            RETURN;
        END

        IF (@IsActive = 0)
        BEGIN
            RAISERROR('User is inactive. Contact Admin.', 16, 1);
            RETURN;
        END

        -- Compare Hash (use HASHBYTES if you're storing hashed passwords)
        IF @StoredHash <> HASHBYTES('SHA2_256', CONVERT(VARBINARY(MAX), @Password))
        BEGIN
            RAISERROR('Invalid UserID or Password.', 16, 1);
            RETURN;
        END

        -- Success Message
        SELECT 
            200 AS Status,
			'Login Successful' AS Message,
			@ID AS ID,
            @UserID AS UserID,
			@Username AS Username,
			@RoleID AS RoleID;

    END TRY
    BEGIN CATCH
        SELECT 
            401 AS Status,
			ERROR_MESSAGE() AS Message--,
--            ERROR_LINE() AS ErrorLine;
    END CATCH
END;
